<div class="dot"></div>

<div class="metadata">
  <div class="composer">{{composerName}}</div>
  <div class="title">
    <TrackAdditionalInfo @title={{trackTitle}} @ensembleName={{ensembleName}} @conductorName={{conductorName}} />
  </div>
</div>

<div class="start-time">{{format-start-time startTime}}</div>

{{yield}}
