<div class="dot"></div>
<div class="metadata">
  <TrackAdditionalInfo @ensembleName={{ensembleName}} @conductorName={{conductorName}} as |options|>
    <div data-test-element="track-info-composer" class="composer">
      {{composerName}}
    </div>
    <div data-test-element="track-info-title" class="title">
      {{trackTitle}} {{options.icon}}
    </div>
  </TrackAdditionalInfo>
</div>

<div class="start-time {{unless isLive "hide-in-fastboot"}} {{if this.isFastBoot "is-fastboot"}}" data-test-element="track-info-start-time" data-time={{startTime}}>
  {{#if isLive}}
    Now
  {{else}}
    {{moment-format startTime "h:mm A"}}
  {{/if}}
</div>

{{yield}}
