<div class="dot"></div>
{{#if (or ensembleName conductorName)}}
  <NyprAToggleBox class="secondary-metadata-toggle-box" @horizontalPosition="right" as |toggle|>
    <toggle.trigger>
      <div class="metadata">
        {{#if composerName}}
          <div class="composer">{{composerName}}</div>
        {{/if}}
        {{#if trackTitle}}
          <div class="title">{{trackTitle}}</div>
        {{/if}}
      </div>
    </toggle.trigger>
    <toggle.dropdown class="secondary-metadata-content-dropdown">
      <div class="secondary-metadata-content">
        {{#if ensembleName}}
          <div class="ensemble secondary-metadata-content-field">Performed by the {{ensembleName}}</div>
        {{/if}}
        {{#if conductorName}}
          <div class="conductor secondary-metadata-content-field">Conducted by {{conductorName}}</div>
        {{/if}}
      </div>
    </toggle.dropdown>
  </NyprAToggleBox>
{{else}}
  <div class="metadata">
    {{#if composerName}}
      <div class="composer">{{composerName}}</div>
    {{/if}}
    {{#if trackTitle}}
      <div class="title">{{trackTitle}}</div>
    {{/if}}
  </div>
{{/if}}
<div class="start-time">{{format-start-time startTime}}</div>

{{yield}}
