<time datetime={{startTime}} class="playlist-track-time">
  {{#if isLive}}
    <span class='playlist-track-now-playing'>now</span>
  {{else}}
    {{moment-format startTime 'h:mma' 'h:mm a'}}
  {{/if}}
</time>
<div class="playlist-track-info">
  <strong class="playlist-track-info-title">{{title}}</strong>
  <span class="playlist-track-info-artist">{{artist}}</span>
</div>
<div class="playlist-track-length">
    {{length}}
</div>
