<div class="play-schedule-show-header" {{action (optional (if tracks (action "togglePlaylistVisible") null))}}>
  <div class="show-dot"></div>
  <div class="playlist-show-info">

    <div class="playlist-show-metadata">
      <div class="playlist-show-info-time">
        {{#if isLive}}
          <span class="playlist-show-info-on-air-now">ON AIR NOW</span>
        {{/if}}
        <span class="playlist-show-info-time-range hide-in-fastboot {{if this.isFastBoot "is-fastboot"}}" data-time={{startTime}}>
          {{format-show-time startTime endTime}}
        </span>
      </div>

      <div class="playlist-show-info-title">
        {{or title this.nowPlaying.stream.name}}
      </div>
    </div>

    {{#if tracks}}
      <div class="playlist-show-expand {{if this.isPlaylistVisible "is-expanded"}}">
        {{svg-jar "left-arrow"}}
      </div>
    {{/if}}
  </div>
</div>

{{#liquid-if (and (not (is-empty tracks)) this.isPlaylistVisible)}}
  <div class="play-schedule-show-playlist">
    {{#each (sort-by (concat "startTime:" this.sortDirection) tracks) as |track|}}
      <TrackInfo
        @trackTitle={{track.title}}
        @ensembleName={{track.ensembleName}}
        @conductorName={{track.conductorName}}
        @composerName={{track.composerName}}
        @startTime={{track.startTime}}
        @localStartTime={{track.localStartTime}}
      />
    {{/each}}
  </div>
{{/liquid-if}}

{{yield}}
