<div class="dot"></div>
<div class="playlist-show-info">
  <div class="playlist-show-metadata">
    <div class="playlist-show-info-time">
      {{#if (show-is-on-air-now startTime endTime)}}
        <span class="playlist-show-info-on-air-now">ON AIR NOW</span>
      {{/if}}
      <span class="playlist-show-info-time-range">
        {{format-show-time startTime endTime}}
      </span>
    </div>

    <h2 class="playlist-show-info-title">{{title}}</h2>
    <span class="playlist-show-info-additional">
      {{#if episode}}
        {{link-to episode.title 'story' episode.slug}}
      {{else}}
        {{#if host}}
          with {{link-to host.name 'person-detail' host.slug}}
        {{else}}
          &nbsp;
        {{/if}}
      {{/if}}
    </span>
  </div>
  <div class="playlist-show-expand">
    {{nypr-svg icon="left-arrow"}}
  </div>
</div>

{{yield}}
