{{head-layout}}

<ShowHeader @activeTabIndex={{activeTabIndex}} @links={{links}} />
{{#liquid-if showOnboardMessage}}
<OnboardMessage
  @onHideOnboardMessage={{action "hideOnboardMessage"}}
/>
{{/liquid-if}}
{{outlet}}

<NyprOFooter as |footer|>
  <footer.slogan class="slogans">
    <p class="slogan">
      WQXR is New York City’s only classical music radio station, broadcasting live on 105.9 FM. We share our audience’s passion for music by playing the most outstanding pieces on air, online and <a href="https://www.wqxr.org/mobile-app">through our app</a>. WQXR is made possible thanks to the generous support of our <a href="https://pledge3.wqxr.org/donate/main/onestep/?ref=button-donate-footer-description">members</a> and <a href="https://sponsorship.wnyc.org">sponsors</a>.
    </p>

    <p class="second-slogan">
      WQXR is supported by <a class="jlgreene" href="https://jlgreene.org/" target="_blank">{{svg-jar "jlgreene-logo" class="jlgreene-logo"}}</a>
    </p>
  </footer.slogan>

  <footer.nav @navItems={{array
      (hash url="/advertising" title="Advertising")
      (hash url="/contact" title="Contact Us")
      (hash url="/newsletter" title="Newsletter")
    }} />
</NyprOFooter>

{{#animated-if showPlayer use=showPlayerAnimation}}
  <JukeboxPlayer
    @trackTitle={{this.currentStream.trackTitle}}
    @showTitle={{this.currentStream.showTitle}}
    @episodeTitle={{this.currentStream.episodeTitle}}
    @ensembleName={{this.currentStream.ensembleName}}
    @conductorName={{this.currentStream.conductorName}}
    @composerName={{this.currentStream.composerName}}
    @streamSlug={{this.currentStream.slug}}
    @streamName={{this.currentStream.name}}
  />
{{/animated-if}}
