<div class="header">
  <div class="live-text">
    Live from NYC
  </div>
</div>

{{#sticky-element}}
{{horizontal-nav
    navRoot='listen'
    defaultSlug='listen'
    channelSlug='listen'
    links=links
    activeTabIndex=activeTabIndex
    didChangeIndex=(action 'updateNav')}}
{{/sticky-element}}

{{outlet}}

<NyprPlayerIntegration as |integration|>
  {{#liquid-if showPlayer class="nypr-player-wrapper"}}
  {{#liquid-if integration.revealNotificationBar class='player-notification-wrapper'}}
  <integration.notification>
    {{player-notification/autoplay-message
          duration   = integration.currentSound.duration
          position   = integration.currentSound.position
          audioType  = integration.currentAudioType
          isLoggedIn = session.isAuthenticated
        }}
  </integration.notification>
  {{/liquid-if}}

  <NyprPlayer @currentTitle={{integration.currentTitle}} @backdropImageUrl={{integration.backdropImageUrl}}
    @storyTitle={{integration.storyTitle}} @showTitle={{integration.showTitle}} @isAudiostream={{integration.isStream}}
    as |content|>
    {{#content.for 'trackInfo'}}
    {{nypr-player-integration/track-info
            currentAudio    = integration.currentAudio
            currentSound    = integration.currentSound
            showTitle       = integration.showTitle
            showUrl         = integration.showUrl
            storyTitle      = integration.storyTitle
            storyUrl        = integration.storyUrl
            audioId         = integration.currentAudioId
            songDetails     = integration.songDetails
            isStream        = integration.isStream
          }}
    {{/content.for}}
  </NyprPlayer>
  {{/liquid-if}}
</NyprPlayerIntegration>