<div class="header">
  <div class="wqxr-logo">
    {{nypr-svg className="site-header-title-logo" icon="wqxr-log-frq"}}
  </div>

  <div class="live-text-box">
    <p>LIVE FROM NYC</p>
  </div>

  <a class="donate-button" href="https://www.wqxr.org/support/"><button>Donate</button></a>

</div>

{{!-- {{#sticky-element}} --}}
<div class="listen-playhistory">
{{horizontal-nav
    navRoot='listen'
    defaultSlug='listen'
    channelSlug='listen'
    links=links
    activeTabIndex=activeTabIndex
    didChangeIndex=(action 'updateNav')}}
  </div>
{{!-- {{/sticky-element}} --}}
{{outlet}}


<NyprPlayerIntegration as |integration|>
  {{#liquid-if showPlayer class="nypr-player-wrapper"}}
  {{#liquid-if integration.revealNotificationBar class='player-notification-wrapper'}}
  <integration.notification>
    {{player-notification/autoplay-message
          duration   = integration.currentSound.duration
          position   = integration.currentSound.position
          audioType  = integration.currentAudioType
          isLoggedIn = session.isAuthenticated
        }}
  </integration.notification>
  {{/liquid-if}}

  <NyprPlayer @currentTitle={{integration.currentTitle}} @backdropImageUrl={{integration.backdropImageUrl}}
    @storyTitle={{integration.storyTitle}} @showTitle={{integration.showTitle}} @isAudiostream={{integration.isStream}}
    as |content|>
    {{#content.for 'trackInfo'}}
    {{nypr-player-integration/track-info
            currentAudio    = integration.currentAudio
            currentSound    = integration.currentSound
            showTitle       = integration.showTitle
            showUrl         = integration.showUrl
            storyTitle      = integration.storyTitle
            storyUrl        = integration.storyUrl
            audioId         = integration.currentAudioId
            songDetails     = integration.songDetails
            isStream        = integration.isStream
          }}
    {{/content.for}}
  </NyprPlayer>
  {{/liquid-if}}
</NyprPlayerIntegration>