
<link rel="preconnect" href={{model.publisherAPI}} crossorigin>
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>

<title>{{{model.title}}}</title>

<meta name="description" content={{{model.description}}}>
<meta property="og:site_name" content="WQXR Beta">
<meta property="og:url" content={{model.url}}>
<meta property="og:type" content={{model.type}}>
<meta property="og:locale" content="en_US">

<meta property="og:title" content={{{or model.ogTitle model.title}}}>
<meta property="og:description" content={{model.ogDescription}}>
<meta property="og:image" content={{model.image.url}}>
<meta property="og:image:width" content={{model.image.w}}>
<meta property="og:image:height" content={{model.image.h}}>
<meta property="og:image:alt" content={{model.image.altText}}>

<meta name="twitter:title" content={{{model.title}}}>
<meta name="twitter:description" content={{model.twitterDescription}}>
<meta property="twitter:url" content={{model.url}}>
<meta name="twitter:site" content={{model.twitterSite}}>
<meta property="twitter:image" content={{model.image.url}}>
<meta property="twitter:image:alt" content={{model.image.altText}}>
