{{#nypr-brick-layout as |layout|}}

      {{#layout.blowout as |blowout|}}

        {{blowout.main item=model.wqxrHome.featuredItems.[0]}}

        {{#if model.membershipChunk}}
          {{#blowout.column as |column|}}
            <div class="chunk__item">
              {{django-page page=model.membershipChunk.pagecontent}}
            </div>
            {{column.brick item=model.wqxrHome.featuredItems.[1]}}
          {{/blowout.column}}
        {{else}}
          {{#blowout.column as |column|}}
            {{column.brick item=model.wqxrHome.featuredItems.[1]}}
            {{column.brick item=model.wqxrHome.featuredItems.[2]}}
          {{/blowout.column}}
        {{/if}}

      {{/layout.blowout}}

      {{#layout.cards as |row|}}
        {{#each (slice 3 6 model.wqxrHome.featuredItems) as |item|}}
          {{row.brick item=item}}
        {{/each}}
      {{/layout.cards}}

      {{#if (gte model.wqxrHome.featuredItems.length 9)}}
        {{layout.blowout flip=true items=(slice 6 9 model.wqxrHome.featuredItems)}}
      {{/if}}

    {{/nypr-brick-layout}}


{{outlet}}
