<div>Now Playing</div>
<section class="jukebox-display" aria-label="stream metadata display">
  <JukeboxDisplay @currentStream={{model.stream}} />
</section>
<div>On Air Now</div>
<div>{{model.stream.currentShow.showTitle}}</div>
{{#if model.stream.previous}}
  <div class="recently-played">
    <div class="recently-played-label">RECENT MUSIC</div>
    <div class="recently-played-song-list">
    {{#each model.stream.previous as |item|}}
      <div class="recently-played-song">
        <div class="dot"></div>
        <div class="metadata">
          <div class="composer_start-time">
            <div class="composer">{{item.catalogEntry.composer.name}}</div>
            <div class="start-time">{{format-start-time item.startTime}}</div>
          </div>
          <div class="title_expand">
            <NyprAToggleBox class="secondary-metadata-toggle-box" as |toggle|>
              <toggle.trigger>
                <div class="title">{{item.catalogEntry.title}}</div>
              </toggle.trigger>
              <toggle.dropdown>
                <div class="secondary-metadata-content">
                  <div>Performed by the {{item.catalogEntry.ensemble.name}}</div>
                  <div>Conducted by {{item.catalogEntry.conductor.name}}</div>
                </div>
              </toggle.dropdown>
            </NyprAToggleBox>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
    <a href="/playlist-history" class="view-full-playlist-history-button">VIEW FULL PLAYLIST HISTORY</a>
  </div>
{{/if}}
{{outlet}}
