<div class="listen">
  <div class="on-air-now">
    <div class="on-air-now-upper">
      <OnAirImage 
      @stream={{model.stream}} 
      @show={{model.show}} 
      @height=200 
      @width=200 
      @altText={{onAirTitle}} />
      <div class="on-air-now-inner">
        <div class="label-title-message-play">
                <div class="on-air-now-label">ON AIR NOW</div>
          <div class="show-title">{{onAirTitle}}</div>

          {{#if (or twitterHandle emailAddress)}}
          <div class="message-the-show">
            <ToggleBox class="message-the-show-toggle-box" as |toggle|>
              <toggle.trigger>
                <div class="message-the-show-title">MESSAGE THE SHOW</div>
              </toggle.trigger>
              <toggle.dropdown>
                <NyprMShareTools class="listen-message-the-show-popup social-media-links" as |share|>
                  <div class="social-media__container">
                    {{#if twitterHandle}}
                    <share.link @href='#' @service='twitter' @username='{{twitterHandle}}' @title='Twitter'
                      @clickAction={{action 'openTwitterMention'}} @target='_self' />
                    {{/if}}
                    {{#if emailAddress}}
                    <share.link @service='email' @username='{{emailAddress}}' @title='Email' />
                    {{/if}}
                  </div>
                </NyprMShareTools>
              </toggle.dropdown>
            </ToggleBox>
          </div>
          {{/if}}

          <div class="listen-play-button">
            <PlayButton class="play-button mod-main-page" data-action="Clicked Play/Pause Stream: jukebox-display"
              data-label={{model.stream.name}} title={{model.stream.name}} @playItemId={{model.stream.slug}}
              @onEnterViewport={{action "updatePlayerState" false}}
              @onExitViewport={{action "updatePlayerState" true}} />
          </div>
        </div>
        <div class="image-label">
          <OnAirImage @stream={{model.stream}} @show={{model.show}} @height=325 @width=325 @altText={{onAirTitle}} />
        </div>

      </div>
    </div>
  </div>

  <div class="playlist-history-container">
    {{#liquid-if (or this.nowPlaying.hasCurrentTrack (not (is-empty this.recentlyPlayed)))}}
    <div class="playlist-history">
      {{#if this.nowPlaying.track}}
        <div class="playlist-section-title">
          <div class="dot mod-large"></div>
          <span>Currently Playing</span>
        </div>
        <div class="playlist-section">
          <TrackInfo data-test-component="current-track"
              @trackTitle={{this.nowPlaying.track.title}} 
              @ensembleName={{this.nowPlaying.track.ensembleName}}
              @conductorName={{this.nowPlaying.track.conductorName}} @composerName={{this.nowPlaying.track.composerName}}
              @startTime={{this.nowPlaying.track.startTime}} 
              @isLive={{true}} /> 
        </div>
      {{/if}}

      {{#if (not (is-empty this.recentlyPlayed))}}        
        <div class="playlist-section-title">
          <div class="dot"></div>
          <span>Recently Played Songs</span>
        </div>
        <div class="playlist-section">
          {{#each (take 3 (filter-by "isLive" false this.recentlyPlayed)) as |track|}}
          <TrackInfo 
          data-test-component={{concat "recent-track-" (inc index 1)}}
          @trackTitle={{track.title}} 
          @ensembleName={{track.ensembleName}}
          @conductorName={{track.conductorName}} 
          @composerName={{track.composerName}}
          @startTime={{track.startTime}}/>
          {{/each}}
      </div>
      {{#link-to "playlist-history-today" class="view-full-playlist-history-button"}}View Full Playlist{{/link-to}}
      {{/if}}
    </div>
    {{/liquid-if}}
  </div>
</div>

{{outlet}}