<div class="listen">
  <div class="on-air-now">
    <div class="on-air-now-upper">
      <div class="on-air-now-label">ON AIR NOW</div>
      <OnAirImage
        @stream={{this.nowPlaying.stream}}
        @show={{this.nowPlaying.show}}
        @height={{200}}
        @width={{200}}
        @altText={{onAirTitle}}
      />
      <div class="on-air-now-inner">
        <div class="label-title-message-play">
          <div class="show-title" data-test-element="show-title">{{onAirTitle}}</div>
          {{#if (or twitterHandle emailAddress)}}
            <div class="message-the-show">
              <NyprMToggleBox class="message-the-show-toggle-box" as |toggle|>
                <toggle.trigger>
                  <div class="message-the-show-title">MESSAGE THE SHOW</div>
                </toggle.trigger>
                <toggle.dropdown>
                  <NyprMShareTools class="listen-message-the-show-popup social-media-links" as |share|>
                    <div class="social-media__container">
                      {{#if twitterHandle}}
                        <share.link
                          @href="#"
                          @service="twitter"
                          @username={{twitterHandle}}
                          @title="Twitter"
                          @clickAction={{action "openTwitterMention"}}
                          @target="_self"
                          class="gtm__click-tracking"
                          data-category="Non-Jukebox Player"
                          data-action="Message"
                          data-label="Twitter"
                        />
                      {{/if}}
                      {{#if emailAddress}}
                        <share.link
                          @service="email"
                          @username={{emailAddress}}
                          @title="Email"
                          class="gtm__click-tracking"
                          data-category="Non-Jukebox Player"
                          data-action="Message"
                          data-label="Email"
                        />
                      {{/if}}
                    </div>
                  </NyprMShareTools>
                </toggle.dropdown>
              </NyprMToggleBox>
            </div>
          {{/if}}

          <div class="listen-play-button">
            <NyprMPlayButton
              class="play-button mod-main-page"
              data-action="Clicked Play/Pause Stream: jukebox-display"
              data-label={{this.nowPlaying.stream.name}}
              title={{this.nowPlaying.stream.name}}
              @playItemId={{this.nowPlaying.stream.slug}}
              @playerLabel="main player"
            />
          </div>
        </div>
        <div class="image-label">
          <OnAirImage
            @stream={{this.nowPlaying.stream}}
            @show={{this.nowPlaying.show}}
            @height={{325}}
            @width={{325}}
            @altText={{onAirTitle}}
          />
        </div>
      </div>
    </div>
  </div>

  <div class="playlist-history-container">
    {{#liquid-if (or this.nowPlaying.hasCurrentTrack (not (is-empty this.recentlyPlayed)))}}
      <div class="playlist-history" data-test-element="playlist-history">
        {{#if this.nowPlaying.track}}
          <div class="playlist-section-title">
            <div class="dot mod-large"></div>
            <span>Currently Playing</span>
          </div>
          <div class="playlist-section">
            <TrackInfo
              data-test-component="current-track"
              data-test-track-id={{this.nowPlaying.track.id}}
              @trackTitle={{this.nowPlaying.track.title}}
              @ensembleName={{this.nowPlaying.track.ensembleName}} @conductorName={{this.nowPlaying.track.conductorName}}
              @composerName={{this.nowPlaying.track.composerName}}
              @startTime={{this.nowPlaying.track.startTime}}
              @isLive={{true}}
            />
          </div>
        {{/if}}

        {{#if (not (is-empty this.recentlyPlayed))}}
          <div class="playlist-section-title">
            <div class="dot"></div>
            <span>Recently Played</span>
          </div>
          <div class="playlist-section">
            {{#each (take 3 (filter-by "isLive" false this.recentlyPlayed)) as |track index|}}
              <TrackInfo
                data-test-component={{concat "recent-track-" (inc index 1)}}
                data-test-track-id={{track.id}}
                @trackTitle={{track.title}}
                @ensembleName={{track.ensembleName}}
                @conductorName={{track.conductorName}}
                @composerName={{track.composerName}}
                @startTime={{track.startTime}}
              />
            {{/each}}
          </div>
          {{#link-to "playlist-history-today" class="view-full-playlist-history-button gtm__click-tracking" data-category="Non-Jukebox Player" data-action="View Playlist"}}View Full Playlist{{/link-to}}
        {{/if}}
      </div>
    {{/liquid-if}}
  </div>
</div>

{{outlet}}
