<div class="listen">
  <div class="on-air-now">
    <div class="on-air-now-upper">
    {{#if model.stream.about.people.firstObject.image}}
      <img class="show-image"
       alt="image for {{model.stream.currentShow.title}}"
       src="{{image-template model.stream.about.people.firstObject.image.template 100 100 model.stream.about.people.firstObject.image.crop}}">
    {{else}}
      <img class="show-image"
       alt="image for {{model.stream.currentShow.title}}"
       src={{model.stream.currentShow.fullImage.url}}>
    {{/if}}
    <div class="on-air-now-inner">
      <div class="on-air-now-label">ON AIR NOW</div>
      {{#if model.stream.about.people.firstObject.image}}
        <img class="show-image"
         alt="image for {{model.stream.currentShow.title}}"
         src="{{image-template model.stream.about.people.firstObject.image.template 176 176 model.stream.about.people.firstObject.image.crop}}">
      {{else}}
        <img class="show-image"
         alt="image for {{model.stream.currentShow.title}}"
         src={{model.stream.currentShow.fullImage.url}}>
      {{/if}}
      <div class="show-title">{{model.stream.currentShow.title}}</div>
        <div class="message-the-show">
          <NyprAToggleBox class="message-the-show-toggle-box" as |toggle|>
            <toggle.trigger>
              <div class="message-the-show-title">MESSAGE THE SHOW</div>
            </toggle.trigger>
            <toggle.dropdown>
              <div class="message-the-show-content">Message the show...  (Design TBD)</div>
            </toggle.dropdown>
          </NyprAToggleBox>
        </div>
      </div>
    </div>
    <div class="listen-play-button">
      {{#listen-button
        class="play-button"
        data-action="Clicked Play/Pause Stream: jukebox-display"
        data-label=model.stream.name
        itemPK=model.stream.slug
        onEnterViewport=(action "updatePlayerState" false)
        onExitViewport=(action "updatePlayerState" true)
        itemTitle=model.stream.name}}
      {{/listen-button}}
    </div>
  </div>

  <div class="playlist-history">
    {{#if model.stream.currentPlaylistItem.catalogEntry}}
      <div class="currently-listening-to">
        <div class="currently-listening-to-label">CURRENTLY LISTENING TO</div>
          <div class="song-metadata currently-playing-song">
            <div class="dot"></div>
              <div class="metadata">
              <div class="composer">{{model.stream.currentPlaylistItem.catalogEntry.composer.name}}</div>
              <div class="title_expand">
                {{#if (or model.stream.currentPlaylistItem.catalogEntry.ensemble.name
                          model.stream.currentPlaylistItem.catalogEntry.conductor.name)}}
                <NyprAToggleBox class="secondary-metadata-toggle-box" as |toggle|>
                  <toggle.trigger>
                    <span class="title">{{model.stream.currentPlaylistItem.catalogEntry.title}}</span>
                  </toggle.trigger>
                  <toggle.dropdown>
                    <div class="secondary-metadata-content">
                      {{#if model.stream.currentPlaylistItem.catalogEntry.ensemble.name}}
                        <div class="secondary-metadata-content-field"><span class="secondary-metadata-content-label">Performed by the </span><span class="secondary-metadata-content-title">{{model.stream.currentPlaylistItem.catalogEntry.ensemble.name}}</span></div>
                      {{/if}}
                      {{#if model.stream.currentPlaylistItem.catalogEntry.conductor.name}}
                        <div class="secondary-metadata-content-field">
                          <span class="secondary-metadata-content-label">Conducted by </span>
                          <span class="secondary-metadata-content-title">{{model.stream.currentPlaylistItem.catalogEntry.conductor.name}}</span></div>
                      {{/if}}
                    </div>
                  </toggle.dropdown>
                </NyprAToggleBox>
                {{else}}
                  <div class="title">{{model.stream.currentPlaylistItem.catalogEntry.title}}</div>
                {{/if}}
              </div>
            </div>
          <div class="start-time">NOW</div>
        </div>
      </div>
    {{/if}}

    {{#if model.stream.previous}}
      <div class="recently-played">
        <div class="recently-played-label">RECENT MUSIC</div>
        <div class="recently-played-song-list">
          {{#each model.stream.previous as |item|}}
            <div class="song-metadata recently-played-song">
            <div class="dot"></div>
            <div class="metadata">
              <div class="composer">{{item.catalogEntry.composer.name}}</div>
                <div class="title_expand">
                  {{#if (or item.catalogEntry.ensemble.name
                            item.catalogEntry.conductor.name)}}
                  <NyprAToggleBox class="secondary-metadata-toggle-box" as |toggle|>
                    <toggle.trigger>
                      <span class="title">{{item.catalogEntry.title}}</span>
                    </toggle.trigger>
                    <toggle.dropdown>
                      <div class="secondary-metadata-content">
                        {{#if item.catalogEntry.ensemble.name}}
                          <div class="secondary-metadata-content-field">
                            <span class="secondary-metadata-content-label">Performed by the </span>
                            <span class="secondary-metadata-content-title">{{item.catalogEntry.ensemble.name}}</span>
                          </div>
                        {{/if}}
                        {{#if item.catalogEntry.conductor.name}}
                          <div class="secondary-metadata-content-field">
                            <span class="secondary-metadata-content-label">Conducted by </span>
                            <span class="secondary-metadata-content-title">{{item.catalogEntry.conductor.name}}</span>
                          </div>
                        {{/if}}
                      </div>
                    </toggle.dropdown>
                  </NyprAToggleBox>
                  {{else}}
                    <div class="title">{{item.catalogEntry.title}}</div>
                  {{/if}}
                </div>
              </div>
              <div class="start-time">{{format-start-time item.startTime}}</div>
            </div>
          {{/each}}
        </div>
        <a href="/playlist-history" class="view-full-playlist-history-button">VIEW FULL PLAYLIST HISTORY</a>
      </div>
    {{/if}}
  </div>
</div>

{{outlet}}
