<!--
<div>Now Playing</div>
<section class="jukebox-display" aria-label="stream metadata display">
  <JukeboxDisplay @currentStream={{model.stream}} />
</section>
<div>On Air Now</div>
<div>{{model.stream.currentShow.showTitle}}</div>
-->
<div class="listen">
<div class="on-air-now">
  <div class="on-air-now-label">ON AIR NOW</div>
  <img class="show-image" src={{model.stream.currentShow.fullImage.url}} />
  <div class="show-title">{{model.stream.currentShow.title}}</div>
  <div class="message-the-show">
    <NyprAToggleBox class="message-the-show-toggle-box" as |toggle|>
      <toggle.trigger>
        <div class="message-the-show-title">MESSAGE THE SHOW</div>
      </toggle.trigger>
      <toggle.dropdown>
        <div class="message-the-show-content">Message the show...</div>
      </toggle.dropdown>
    </NyprAToggleBox>
  </div>
  <div class="listen-play-button">
    {{#listen-button
      class='play-button'
      data-action="Clicked Play/Pause Stream: jukebox-display"
      data-label=model.stream.name
      itemPK=model.stream.slug
      itemTitle=model.stream.name}}
    {{/listen-button}}
  </div>
</div>

<div class="playlist-history">
<div class="currently-listening-to">
  <div class="currently-listening-to-label">CURRENTLY LISTENING TO</div>
  <div class="song-metadata currently-playing-song">
    <div class="dot"></div>
    <div class="metadata">
      <div class="composer_start-time">
        <div class="composer">{{model.stream.currentPlaylistItem.catalogEntry.composer.name}}</div>
        <div class="start-time">NOW</div>
      </div>
      <div class="title_expand">
        <NyprAToggleBox class="secondary-metadata-toggle-box" as |toggle|>
          <toggle.trigger>
            <div class="title">{{model.stream.currentPlaylistItem.catalogEntry.title}}</div>
          </toggle.trigger>
          <toggle.dropdown>
            <div class="secondary-metadata-content">
              <div>Performed by the {{model.stream.currentPlaylistItem.catalogEntry.ensemble.name}}</div>
              <div>Conducted by {{model.stream.currentPlaylistItem.catalogEntry.conductor.name}}</div>
            </div>
          </toggle.dropdown>
        </NyprAToggleBox>
      </div>
    </div>
  </div>
</div>
{{#if model.stream.previous}}
  <div class="recently-played">
    <div class="recently-played-label">RECENT MUSIC</div>
    <div class="recently-played-song-list">
    {{#each model.stream.previous as |item|}}
      <div class="song-metadata recently-played-song">
        <div class="dot"></div>
        <div class="metadata">
          <div class="composer_start-time">
            <div class="composer">{{item.catalogEntry.composer.name}}</div>
            <div class="start-time">{{format-start-time item.startTime}}</div>
          </div>
          <div class="title_expand">
            <NyprAToggleBox class="secondary-metadata-toggle-box" as |toggle|>
              <toggle.trigger>
                <div class="title">{{item.catalogEntry.title}}</div>
              </toggle.trigger>
              <toggle.dropdown>
                <div class="secondary-metadata-content">
                  <div>Performed by the {{item.catalogEntry.ensemble.name}}</div>
                  <div>Conducted by {{item.catalogEntry.conductor.name}}</div>
                </div>
              </toggle.dropdown>
            </NyprAToggleBox>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
    <a href="/playlist-history" class="view-full-playlist-history-button">VIEW FULL PLAYLIST HISTORY</a>
  </div>
{{/if}}
</div>
</div>
{{outlet}}
