<div class="listen">
  <div class="on-air-now">
    <div class="on-air-now-upper">
    {{#if model.stream.about.people.firstObject.image}}
      <img class="show-image"
       alt="image for {{model.stream.currentShow.title}}"
       src="{{image-template model.stream.about.people.firstObject.image.template 200 200 model.stream.about.people.firstObject.image.crop}}">
    {{else}}
      <img class="show-image"
       alt="image for {{model.stream.currentShow.title}}"
       src={{model.stream.currentShow.fullImage.url}}>
    {{/if}}
    <div class="on-air-now-inner">
      <div class="on-air-now-label">ON AIR NOW</div>
      {{#if model.stream.about.people.firstObject.image}}
        <img class="show-image"
         alt="image for {{model.stream.currentShow.title}}"
         src="{{image-template model.stream.about.people.firstObject.image.template 352 352 model.stream.about.people.firstObject.image.crop}}">
      {{else}}
        <img class="show-image"
         alt="image for {{model.stream.currentShow.title}}"
         src={{model.stream.currentShow.fullImage.url}}>
      {{/if}}
      <div class="show-title">{{model.stream.currentShow.title}}</div>
        {{!-- DSODA-258 Hide "Message the Show" dropdown component }}
        <div class="message-the-show">
          <ToggleBox class="message-the-show-toggle-box" as |toggle|>
            <toggle.trigger>
              <div class="message-the-show-title">MESSAGE THE SHOW</div>
            </toggle.trigger>
            <toggle.dropdown>
              <div class="message-the-show-content">Message the show...  (Design TBD)</div>
            </toggle.dropdown>
          </ToggleBox>
        </div>
        {{--}}
      </div>

    </div>
    <div class="listen-play-button">
      <PlayButton
        class="play-button mod-main-page"
        data-action="Clicked Play/Pause Stream: jukebox-display"
        data-label={{model.stream.name}}
        title={{model.stream.name}}
        @playItemId={{model.stream.slug}}
        @onEnterViewport={{action "updatePlayerState" false}}
        @onExitViewport={{action "updatePlayerState" true}}
      />
    </div>
  </div>

  {{#if (or (or this.currentStream.composerName this.currentStream.trackTitle)
            (and (not this.isPlaylistHistoryPreviewStale) this.playlistHistoryItems))
  }}
    <div class="playlist-history">
      {{#if (or this.currentStream.composerName this.currentStream.trackTitle)}}
        <div class="currently-listening-to">
          <div class="currently-listening-to-label">CURRENTLY LISTENING TO</div>
          <TrackInfo
            @trackTitle={{this.currentStream.trackTitle}}
            @ensembleName={{this.currentStream.ensembleName}}
            @conductorName={{this.currentStream.conductorName}}
            @composerName={{this.currentStream.composerName}}
            @startTime="now"
          />
        </div>
      {{/if}}

      {{#if (not this.isPlaylistHistoryPreviewStale)}}
        {{#if this.playlistHistoryItems}}
          <div class="recently-played">
            <div class="recently-played-label">RECENT MUSIC</div>
            <div class="recently-played-song-list">
              {{#each this.playlistHistoryItems as |item|}}
                <TrackInfo
                  @trackTitle={{item.catalogEntry.title}}
                  @ensembleName={{item.catalogEntry.ensemble.name}}
                  @conductorName={{item.catalogEntry.conductor.name}}
                  @composerName={{item.catalogEntry.composer.name}}
                  @startTime={{item.startTime}}
                />
              {{/each}}
            </div>
            <a href="/playlist-history" class="view-full-playlist-history-button">VIEW FULL PLAYLIST HISTORY</a>
          </div>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</div>

{{outlet}}
