<div class="playlist-history-date-display">
  <div class="playlist-history-day">{{formatted-day model.date}}</div>
  <div class="playlist-history-date">{{formatted-date model.date}}</div>
</div>

<div class="playlist-history-display">
  <div class="date-selector">
    <a class="date-selector-back" href={{playlist-history-href model.date -1}}>
      {{nypr-svg icon="left-arrow"}}
      <span>{{formatted-picker-date model.date -1}}</span>
    </a>
    {{#if (can-show-schedule-for-date model.date 1)}}
    <a class="date-selector-forward" href={{playlist-history-href model.date 1}}>
      <span>{{formatted-picker-date model.date 1}}</span>
      {{nypr-svg icon="left-arrow"}}
    </a>
    {{/if}}
  </div>

  <PlaySchedule @schedule={{model.playlist}}/>
</div>

{{outlet}}
